# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.exe
/*.obj
/*.pdb
/*.rsp
/*.a
/*.lib
/*.dll
/*.manifest
/*.marks

# IDE-specific files
.vscode/
/*.log

# Temporary files
*.tmp
*.swp
*.bak
*.swo
*.~*

# Cmake specific files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json